a.link-button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

a.link-button .icon{
  width: 32px;
  height: 32px;
  padding: 3px;
  background-color: var(--primary-color);
  border: solid 1px white;
  background-clip: content-box;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.link-button .icon .play-icon{
  border:solid 7px white;
  width:0;
  height: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  margin-right: -7px;
}

a.link-button .label{
  margin-left: 10px;
}